1. brew install everything with arch -arm64, e.g. arch -arm64 brew install xxx. OR put this into a shell command.
2. install pynvim with that as well. don't use cache arch -arm64 pip3 --no-cache-dir install pynvim. Remove old install if needed, especially greenlet (e.g. pip3 uninstall pynvim greenlet)
3. arm64 brew install/reinstall python@3.10 individually. install with other packages could fail.
4. nvim-treesitter parser arch will be affected by the terminal emulaters arch. Use an arm64 native term to invoke nvim and compile parsers via removing all *.so from the parser dir and call nvim again (it will reinstall with correct .so arch)
